---
---

@import "{{ site.theme }}";

//header{
//  width:20%
//}
section {
  width:72%;
  padding-bottom:50px;
  scroll-padding-right:50px;
}

.wrapper {
  width:100%;
}

@media print, screen and (max-width: 1240px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}